* {
    scrollbar-width: thin;
    scrollbar-color: #288be2 #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #288be2;
    border-radius: 20px;
    border: 3px solid #070d12;
}